    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
          <form action="search" method="get" id="search-form">
           <div id="search-bar">
             <input type="text" size="35" placeholder="" autocomplete="off" name="search" id="search-box">
             <button type="submit" class="btn btn-primary" id="search-button">search</button>
           </div>
           <div >
           </div>
         </form>
          </div>

          <div class="mastfoot">
            <div class="inner">
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

