<div>
  <img src="/assets/leftarrow.png" id="leftarrow" class="arrow" alt="Left arrow" height="100" width="100">  
  <a href="<%=@urls[0]%>">
    <img src="/assets/<%= @files[0]%>" id="main_image" alt="Smiley face" height="100%" > 
  </a> 
  <a href="#" id="rightarrow">
    <img src="/assets/rightarrow.png" class="arrow" alt="Right arrow" height="100" width="100"> 
  </a>
</div>
