html {

	
	overflow: scroll;
	
}

body {
	height:100%;
	background:white;
}


#container {

  border-style: solid;
  border-color: #1B5790;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 0px;
  height: 100%;
}

h3 {
	margin:0px;
	font-size: 1em;
	
	font-weight: normal;

}

span {
	font-size: .8em;
    color: #006621;
}

h3.hover {
	background: blue;
}

#removeBtnDiv {
	position: absolute;
    right: 20px;
    float: right;
    width: 10px;
    top: 5px;
}

#removeToolbarBtn {
	background: transparent;
	border: none;
	color: gray;
}
.section {	
	border-style: solid;
	border-color: lightgray;
	border-top-style: none;
	border-left-color: #1B5790;
	padding-top: 10px;
	padding-bottom: 20px;
	margin-left: 0px;
	padding-left: 0px;
	left: 0px;
	z-index:101;
	border-radius:0px;
	background: #FFFFFE;
}

.section:hover {
	background: #cfe4ad;
}

.content {	
	padding-left: 20px;
	padding-right: 20px;
	z-index: 100;
}

#toolbar {
	height: 50px;
	width: 100%;
	background: #b2d281;
	top: 70px;
	position:fixed;
	z-index: 101;
	left:0px;
	border-style:solid;
	border-right:0px;
	border-top:0px;
	border-bottom:0px;
	border-color: #1B5790
}

#searchFormDiv {
	padding-top: 10px;
}

#searchBox {
	height: 25px;
	width: 100%;

}

#logo {
	margin:0px;
	padding-top: 15px;
	text-align:center;
	font-size: 2em;
	color:white;
	font-family: verdana;
}
#logoContainer {
	background: #1B5790;
	height: 70px;
	width:100%;
	position:fixed;
	z-index: 101;
	left:0px;
}

.abstract {
	font-size:small;
	margin-top:0px;
}

#results {
	position:absolute;
	top: 120px;
	left: 0px;
	z-index: 100;
	width:100%;
	overflow-x: hidden;
}

.curSection {
	border-left-color: #1B5790;
	padding-left: 20px;
}

#uiSwitchBtn {
	background: transparent;
	border: none;
	color: lightgray;
	position: fixed;
	top: 5px;

}