// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#search-box{
  height: 50px;
  color: black;
  font-size: 1.4em;
}

#search-button{
 height: 50px;
 background-color: #2E0854;
 border-color: black;
 margin-bottom: 5px;
}
